In [21]:
import pysubgroup as ps
import pandas as pd

# create dataset
first_names = ['Alex', 'Anna', 'Alex']
sur_names = ['Smith', 'Johnson', 'Williams']
ages =  [40, 25, 32]
df = pd.DataFrame.from_dict({'First_name':first_names, 'Sur_name': sur_names, 'age':ages})

In [22]:
df

  First_name  Sur_name  age
0       Alex     Smith   40
1       Anna   Johnson   25
2       Alex  Williams   32

In [23]:
class StrContainsSelector:
    def __init__(self, column, substr):
        self.column = column
        self.substr = substr

    def covers(self, df):
        return df[self.column].str.contains(self.substr)

In [24]:
sel = StrContainsSelector('Sur_name','m')

In [25]:
sel.covers(df)

0     True
1    False
2     True
Name: Sur_name, dtype: bool