In [13]:
import pandas as pd

In [20]:
data={"Radial Velocity" : {"number":[1,1,1], "orbital_period":[269.3, 874.774, 763.0], "mass":[7.1, 2.21, 2.6], "distance":[77.4, 56.95, 19.84], "year":[2006.0, 2008.0, 2011.0] } , "Transit" : {"number":[1,1,1], "orbital_period":[1.5089557, 1.7429935, 4.2568], "mass":[None,None,None], "distance":[200.0, 680.0, None], "year":[2008.0, 2008.0, 2008.0] }}

from collections import defaultdict
d=defaultdict(list)
for key1 in ['Radial Velocity', 'Transit']:
    for key2 in data[key1]:
        d[key2].extend(data[key1][key2])
d["#method"] = ["Radial Velocity"]*3 + ["Radial Velocity"]*3

In [22]:
pd.DataFrame.from_dict(d)

   number  orbital_period  mass  distance    year
0       1      269.300000  7.10     77.40  2006.0
1       1      874.774000  2.21     56.95  2008.0
2       1      763.000000  2.60     19.84  2011.0
3       1        1.508956   NaN    200.00  2008.0
4       1        1.742994   NaN    680.00  2008.0
5       1        4.256800   NaN       NaN  2008.0

In [23]:
for key,val in d.items():
    print(key, len(val))

number 6
orbital_period 6
mass 6
distance 6
year 6